<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ #{copyright}# -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	
	<bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <constructor-arg value="system1" />
        <constructor-arg value="manager1" />
        <constructor-arg value="failover:(tcp://localhost:61616)?timeout=2000" />
    </bean>
	
	<!-- ConnectionFactory Definition -->
    <bean id="connectionFactory"
        class="org.springframework.jms.connection.CachingConnectionFactory">
        <constructor-arg ref="activeMQConnectionFactory" />
    </bean>

    <!-- Default Destination Queue Definition -->
    <!-- 测试配置多个Destination -->
    <bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0" value="test.activemq.queue" />
    </bean>

	<!-- JmsTemplate Definition -->
    <bean id="queueJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
        <!-- <property name="defaultDestination" ref="destination" /> -->
        <!-- 队列模式 -->  
        <property name="pubSubDomain" value="false" />  
    </bean>

    <!-- JmsTemplate Definition -->
    <bean id="topicJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
        <!-- 订阅发布模式 -->  
        <property name="pubSubDomain" value="true" />  
        <!-- <property name="receiveTimeout" value="10000" /> -->
    </bean>

    <!-- Message Sender Definition -->
    <bean id="messageSender" class="com.ssm.activeMQ.MessageSender">
        <!-- <constructor-arg index="0" ref="jmsTemplate" />
        <constructor-arg index="1" ref="destination" /> -->
    </bean>

    <!-- 消息监听器，主要监听的目的地址 Message Receiver Definition -->
    <bean id="topicMessageReceiver" class="com.ssm.activeMQ.TopicMessageReceiver"/>

    <bean id="QueueMessageReceiver" class="com.ssm.activeMQ.QueueMessageReceiver"/>
    
    
    <!-- <bean class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="destinationName" value="test.activemq.topic" />
        <property name="messageListener" ref="messageSender" />
    </bean> -->
	
</beans>
