<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTDMapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.common.mapper.SysMenusMapper">
	<!-- <cache type="com.ssm.util.LoggingRedisCache"></cache> -->
	<!-- <select id="list" resultType="SysMenus">
		select * from sys_Menus 
	</select> -->
	
</mapper>